<div class="menu-bar_container">
  <div class="menur-bar_logo">
    <img
      src="assets/ps-logo.png"
      alt="Playstation logo"
      width="140px"
      height="32px"
    />
  </div>
  <div class="menu-bar_item">
    <ul>
      <li><a href="">INSTAGRAM</a></li>
      <li><a href="https://github.com/JaquelineBravin">GITHUB</a></li>
      <li>
        <a href="https://www.linkedin.com/in/jaqueline-bravin-ramos-461ab8251/"
          >LINKEDIN</a
        >
      </li>
    </ul>
  </div>
</div>
